@{
    ViewData["Title"] = "Home Page";
}

@using ProjectFenris.Models;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        if (User.Identity.Name == null)
        {
        }
        else
        {
            <p>@User.Identity.Name</p>
        }
    }
    <p>If user is not logged in. Create a welcome page as website is useless if you're not logged in.</p>
</div>
