@{
    ViewData["Title"] = "Welcome";
}

@using ProjectFenris.Models

<div class="container-fluid p-0">
    <img src="~/images/LandingImage.jpg" class="landing-image" />

    <div class="tag">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 style="text-align:center;">Manage your budgeting in one place <br /> Join today for free</h2>
            </div>
            <div class="col-6">
                <a asp-area="Identity" asp-page="/Account/Login" style="float:right">
                    <input type="button" class="btn btn-landing " width="100" value="Log in" />
                </a>
            </div>
            <div class="col-6">
                <a asp-area="Identity" asp-page="/Account/Register">
                    <input type="button" class="btn btn-landing" width="100" value="Register" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 landing-content">
            <img src="~/images/image1.jpg" />
        </div>
        <div class="col-12 col-md-6 landing-content">
            <div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis dictum tincidunt. Maecenas pharetra semper aliquet. Morbi vitae eros vel felis aliquam lacinia sit amet nec odio.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 landing-content">
            <div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis dictum tincidunt. Maecenas pharetra semper aliquet. Morbi vitae eros vel felis aliquam lacinia sit amet nec odio.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 landing-content">
            <img src="~/images/image2.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 landing-content">
            <img src="~/images/image1.jpg" />
        </div>
        <div class="col-12 col-md-6 landing-content d-sm-inline-flex flex-sm-row-reverse">
            <div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis dictum tincidunt. Maecenas pharetra semper aliquet. Morbi vitae eros vel felis aliquam lacinia sit amet nec odio.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12" style="text-align: center">
            <h2>Ready to start saving?</h2>
        </div>
        <div class="col-3">
            <a asp-area="Identity" asp-page="/Account/Login" style="float:right">
                <input type="button" class="btn btn-landing btn-secondary" width="100" value="Log in" />
            </a>
        </div>
        <div class="col-3 mb-5">
            <a asp-area="Identity" asp-page="/Account/Register">
                <input type="button" class="btn btn-landing btn-secondary" width="100" value="Register" />
            </a>
        </div>
    </div>
</div>
