@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* {
    font-family: 'Oxygen', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Landing Page
-------------------------------------------------- */

.landing-image {
    width: 100%;
    max-height: 650px;
    background-image: url("../images/LandingImage.jpg");
}

.tag {
    position: absolute;
    top: 200px;
    right:300px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    width: 500px;
}

    .tag h2 {
        text-shadow: 2px 2px 8px rgba(150, 150, 150, 0.5);
    }

.tag .btn-landing {
    -webkit-box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
    -moz-box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
    box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
}

.btn-landing {
    padding: 10px 25px;
    background-color: white;
    color: black;
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
    
}

.landing-content {
    margin-top: 50px;
    padding: 10px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .landing-content p, .landing-content h2 {
    }
    .landing-content img {
    width: 100%;
    max-height: 100%;
    border-radius: 50px 0;
}

/* Login/Register & Account Management
-------------------------------------------------- */
.login-image{
    background-image: url("../images/abstract1.jfif");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.login-panel {
    min-height: 480px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navigation-cross{
    color: black;
    text-decoration: none;
    float:right;
}
    .navigation-cross:hover {
        color: #2f3640;
    }

.btn-main{
    border: 1px solid black;
    border-radius: 25px;
}
    .btn-main:hover {
        background-color: #545b62;
        color: white;
        border: 1px solid white;
    }
.btn-danger {
    border: none;
    background-color: #e84118;
}
    .btn-danger:hover {
        color: #e84118;
        background-color: white;
        border: 1px solid #e84118;
    }

.account-link{
    color: black;
}
    .account-link:hover {
        color: #353b48;
    }
    .account-link.active {
        color: black !important;
        background-color: #dcdde1 !important;
    }

/*Site-wide CSS
-------------------------------------------------- */
.content {
    padding: 25px;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
    -moz-box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
    box-shadow: 13px 10px 22px -15px rgba(120,120,120,1);
    background-color: #F5F6FA;
}

.hiddenLink{
    text-decoration: none;
    color:unset;
}
    .hiddenLink:hover {
        text-decoration: none;
        color: unset;
    }


#rPaper{
    border: 1px solid red;
    height: 250px;
}