@model ProjectFenris.Models.Budget

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Create Individual Budget Tracker</h4>
    <hr />
    <div class="row justify-content-center">
        <form asp-action="CreateIndividual" class="form-inline">
                <input type="hidden" value="Individual" />
                <div class="col-12">

                    <div id="Error" class="alert alert-danger">
                        <p id="Error-Message"></p>
                    </div>

                    @*Allowance*@
                <div id="Budget-Allowance" class="content">
                    <p>How much money do you want to allocate yourself?</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select asp-for="Currency" class="custom-select" id="CurrencySelect">
                                <option value="£">£</option>
                                <option value="$">$</option>
                                <option value="€">€</option>
                                <option value="¥">¥</option>
                                <option value="₱">₱</option>
                                <option value="₹">₹</option>
                                <option value="฿">฿</option>
                                <option value="₿">₿</option>
                            </select>
                        </div>
                        <input asp-for="Allowance" placeholder="350" value="35"  class="form-control w-90" aria-label="Amount">
                        <div class="input-group-append">
                            <select asp-for="Range" class="custom-select" id="PeriodSelect">
                                <option value="0">one time</option>
                                <option value="1">per Day</option>
                                <option value="2">per Week</option>
                                <option value="3">per Month</option>
                            </select>
                        </div>
                        <span asp-validation-for="Allowance" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="button" id="Budget-Button-Allowance" class="btn btn-main float-right ml-2" value="Next" />
                    <button class="btn btn-main float-right" asp-controller="Budget" asp-action="Index">Back</button>
                </div>
                @*Expenditure*@
                <div id="Budget-Expenditure" class="content">
                    <p>How much money do you expect to spend each period?</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span id="Budget-Expenditure-Currency" class="input-group-text">£</span>
                        </div>
                        <input asp-for="Expenditure" value="30" placeholder="200" class="form-control" />
                    </div>
                    <span asp-validation-for="Expenditure" class="text-danger"></span>
                    <br />
                    <input type="button" id="Budget-Button-Next-Expenditure" class="btn btn-main float-right ml-2" value="Next" />
                    <input type="button" id="Budget-Button-Back-Expenditure" class="btn btn-main float-right" value="Back" />
                </div>

                @*Income*@
                <div id="Budget-Income" class="content">
                    <p>What is your income for each period?</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span id="Budget-Income-Currency" class="input-group-text">£</span>
                        </div>
                        <input asp-for="Income" value="40" placeholder="500" class="form-control" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br />
                    <input type="submit"  id="Budget-Button-Next-Income" class="btn btn-main float-right ml-2" value="Finish" />
                    <input type="button" id="Budget-Button-Back-Income" class="btn btn-main float-right" value="Back" />
                </div>

                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Cancel and exit</a>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Budget.js"></script>